
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-countries (countryEvent)= "saveToLocalesMap($event)"></app-countries>
    </div>
    <div class="col-md-3">
      <app-add-friend [savedLocale]="locales" (addFriendEvent) = "addFriend($event)" [editFriend]="friendToEdit"></app-add-friend>
    </div>
    <div class="col-md-7">
      <app-show-friend [myFriends] = "friends" (showFriendEvent)="friends=$event"
                       (editFriendEvent)="friendToEdit=$event"></app-show-friend>
    </div>
  </div>
</div>
